 <%if current_user.role == 'owner'%>
  <div class="row justify-content-center" style="margin-top: 40px; margin-bottom: 40px">
            <%= link_to 'View Your Posts', new_post_path, class:'form-control btn-primary', style: 'width:150px;' %>
</div><%end%>

<% if @posts.present? %>

    
    <div class="container">
       <div class="row"> 

            <% @posts.each do |post| %>
                <%if post.status == 'approved'%>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="card" style="width: 18rem;">
                     <% if(post.images.present?) %>
                     <%= image_tag post.images[0].url %>
                    <% end %>
                        <div class="card-body">
                        <h5 class="card-title"><%= post.title %></h5>
                        <p>Comments: <%= post.comments_count %> </p>
                        <p>Current status: <%= post.status %> </p>
                        <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12" style="padding:0px 12px 0px; text-align:center" data-turbolinks="false">
                        <%= link_to 'Show', post_path(post.id), class:'form-control btn-primary'%>
                        </div>
                        
                        <% if can? :update, post%>
                        <div class="col-lg-5 col-md-5 col-sm-12" style="padding:0px 12px 0px; text-align:center">
                        <%= link_to 'Delete',
                        post_path(post.id),
                        method: :delete,
                        data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_post form-control btn-primary'%>
                        </div>
                        <%end%>
                        </div>
                    </div>
                </div>
                </div>
                <%end%>
            <% end %>
        </div>
    </div>
    <% else %>
    
        <div class="p-3 mb-2 bg-light text-dark">
            <span class="text-info font-weight-bold">Welcome!</span>
                Create your first post
        </div>

  <% end %>
 
        